<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<h1>Contact</h1>
<p>Chauncy's Contact paragraph!!</p>
<p> <a href="/">HOME</a> </p>
<p> <a href="/contact">CONTACT</a>  </p>
<p> <a href="/about">ABOUT</a>  </p>
</body>
</html>

