<% //<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application --> %>
<% //<!-- views/pages/index.ejs --> %>

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<% //<!--https://www.w3schools.com/html/html_tables.asp--> %>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is data</h1>
            <p>Welcome to data-ing using EJS</p>


				<h2>Database</h2>
				<table>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
					<% rows.forEach((row)=> { %>
						<tr>
							<td><%= row.id %></td>
							<td><%= row.name %></td>
						</tr>
					<% }); %>
				</table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

