<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is data</h1>
            <p>Welcome to data-ing using EJS</p>


				<h2>Database</h2>
				<ul>
					<% db.each("SELECT id, dt FROM user", function(err, row) { %>
						<li><%= row.id %> | <%= row.dt %></li>
					<% }); %>
				</ul>


        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

