<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
<!-- http://stealthistech.blogspot.com/2013/09/a-very-simple-demonstration-of.html -->
<!-- views/pages/test.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Testing Testing</h1>
            <p>Welcome to testing using EJS and SQLite</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

