<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
<!-- http://stackoverflow.com/questions/32628453/get-mysql-data-in-node-js-express-and-print-using-ejs -->
<!-- views/pages/data.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>

				<table id="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>DATA</th>
						</tr>
					</thead>
					<tbody>
						<%print.forEach(function (user) { %>
							<tr>
								<td><%= test.index</td>
								<td><%= test.data</td>
							</tr>
						<% }); %>
					</tbody>
				</table>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

